.el-scrollbar__wrap{
  overflow-x: hidden!important;
}
.el-select-dropdown__list {
  margin-bottom: 17px!important;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}
